@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>This blog is a simple CRUD app built in ASP.NET Core MVC. It is configured to use PostgreSQL database while user interface was mostly done in Bootstrap. 
                Uses template <a href="https://startbootstrap.com/theme/clean-blog">Clean Blog by Start Bootstrap</a></p>
            <p>Check out the source code at my <a href="https://github.com/czerwonogrodzki/BlogProject" target="_blank">GitHub</a>!</p>


            <i>C# | ASP.NET Core | PostgreSQL | Entity Framework | Git | Bootstrap 5 | JavaScript | HTML5 | Visual Studio | Summernote</i>
        </div>
    </div>
</div>
